@import '../../bower_components/foundation-apps/scss/foundation.scss';

html {
    box-sizing: border-box;
}

.actor-list {
    width: 20em;
    margin: 0 auto;
}

.actor {
    width: 20em;
    margin: 0 auto;

    .actor__name {
        margin-bottom: 0;
        margin-left: 1em;
    }

    .actor__init {
        margin-bottom: 0;
    }

    .actor__handler {
        width: 3em;
        height: 3em;
        background: rgba(0, 0, 0, .3);;
    }

}

.actor-menu {
    margin: 0 auto;
}
