@import '../../bower_components/foundation-apps/scss/foundation.scss';

html {
    box-sizing: border-box;
}

.actor {
    width: 20em;

    .actor__name {
        margin-top: .8em;
    }

    .actor__init {
        margin-bottom: 0;
    }

}

.actor--dragging {
    border: 5px solid grey;
}

.dragging actor * {
     pointer-events: none;
 }
